<%- include('partials/header'); -%>
<div class="spaceContainer">
    
</div>

<h1>Home</h1>
<% posts.forEach(element => { %>
    <div class="container">
        <div class="heading">   
            <%= element.title %>
        </div>
        <div class="content">
            <p> <%= element.content %> </p>
            <a href="/posts/<%= element.title %>">Read More</a>
        </div>
    </div> 
<% });   %> 
<%- include('partials/footer'); -%>    